name: Build Workflow

on:
  push:
    tags:
      - "v*.*.*.*"

jobs:
  build:
    name: Build exe
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Remove 'v' prefix
        id: remove_prefix
        run: |
          $tag = "${{ github.ref_name }}"
          $modifiedTag = $tag -replace '^v', ''
          echo "::set-output name=tag_name::$modifiedTag"

      - name: Display modified tag name
        run: |
          echo "Modified tag name: ${{ steps.remove_prefix.outputs.tag_name }}"

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - run: pip install pyinstaller pyinstaller-versionfile
      - run: pip install -r requirements.txt
      - run: create-version-file metadata.yml --outfile file_version_info.txt --version ${{ steps.remove_prefix.outputs.tag_name }}
      #- run: pyinstaller --noconfirm --onefile --windowed --icon "images/icon.ico" --name "Wettkampftools" --add-data "images/;images/" --version-file="file_version_info.txt" --splash "images/splash.png"  "app.py"
      - run: pyinstaller --noconfirm --onefile --windowed --icon "images/icon.ico" --name "Wettkampftools" --add-data "images/;images/" --version-file="file_version_info.txt" "app.py"
     
      - uses: actions/upload-artifact@v4
        with:
          name: Wettkampftools
          path: dist/*
          if-no-files-found: error

  release:
      if: startsWith(github.event.ref, 'refs/tags/v')
      needs: build
      name: Create release with assets
      runs-on: ubuntu-latest
      permissions:
        contents: write

      steps:
        - name: Artifact
          uses: actions/download-artifact@v6
          with:
            name: "Wettkampftools"
            path: dist
        - run: zip -j Wettkampftools.zip dist/*

        - name: Create release
          uses: ncipollo/release-action@v1
          with:
            generateReleaseNotes: true
            artifacts: Wettkampftools.zip